---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404">
    <div class =" flex flex-col items-center mt-[15%]">
        <h1 class="text-[100px]">404</h1>
        <p>Whoops, looks like one of us made a mistake. <p class="text-gray-600">(personally I hope it was you)</p></p>
        <br><br>
        <a href="/" class="underline"> &lt;- Homepage </a>
    </div>
</Layout>
