---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Marius N. Haugen">
	<main>
	<h1 class="align-center text-3xl ">Marius N. Haugen</h1>
	<h1 class="align-center text-3xl ">CONTACT</h1>
		<ul role="list" class="link-card-grid">
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
