---
import Layout from '../layouts/Layout.astro';
import Content from '../layouts/Content.astro';
import BackLink from '../components/BackLink.astro';
import {Icon} from "astro-icon/components"

---

<Layout title="Marius N. Haugen" description="Contact Marius N. Haugen — developer based in the London area.">
    <main>
	<Content>
        <div class="flex flex-col w-full h-full md:w-[700px]">
        <div class="mt-16">
        <BackLink class="lg:ml-[-150px] h-12 mr-2" />
        <h1 class="inline-block text-4xl w-52 " transition:name="title-contact">Contact</h1>
        </div>
        <div class="flex-1 flex justify-center items-center">
            <div class="flex flex-col text-lg min-[400px]:text-xl md:text-3xl text-gray-400">
                <h2 class="mb-8 text-white align-center text-3xl min-[400px]:text-4xl md:text-5xl ">Marius N. Haugen</h2>
                    <p class="py-4">London area</p>
                <div class="flex items-center gap-2">
                    <p>mariusnhaugen@gmail.com</p>
                    <button id="copy-btn" aria-label="Copy email address">
                        <Icon name="material-symbols:content-copy-outline" class="clipboard-icon w-6 h-6 min-[400px]:w-7 min-[400px]:h-7 md:w-10 md:h-10 text-gray-600" />
                        <Icon name="material-symbols:check-small" class="check-icon w-6 h-6 min-[400px]:w-7 min-[400px]:h-7 md:w-10 md:h-10 text-gray-600 hidden" />
                    </button>
                </div>
                <p class="pt-4">+44 7521 552 067</p>
            </div>
        </div>
        </div>
	</Content>

	</main>
    <script>
        const btn = document.getElementById("copy-btn");
        if (btn !== null) { 
            btn.addEventListener("click", async () => {
                    await navigator.clipboard.writeText("mariusnhaugen@gmail.com");
                
                    const clipboardIcon = btn.querySelector(".clipboard-icon");
                    const checkIcon = btn.querySelector(".check-icon");
                    
                    if (clipboardIcon !== null && checkIcon !== null) {
                    clipboardIcon.classList.add("hidden");
                    checkIcon.classList.remove("hidden");

                    setTimeout(() => {
                        clipboardIcon.classList.remove("hidden");
                        checkIcon.classList.add("hidden");
                        }, 2500);
                    }
                });
        }
        </script>
</Layout>

