
---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Navigation.astro';
---

<Layout title="Marius N. Haugen">
	<main>
		<div class="flex h-screen justify-center align-middle">
			<h1 class="text-[15rem] text-white flex flex-col justify-center">M</h1>
			<Nav></Nav>
		</div>
	</main>
</Layout>
