---
import Content from '../layouts/Content.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Profile">
	<main>
		<Content>
			<h1 class="text-white text-4xl pl-16 w-52 mt-16" transition:name="title-profile">Profile</h1>
			<p>
I am a programmer. <br>
Vim, Split Keyboard, Beard <br> 

Skills:  <br>
- Web: React, Tailwind, Next <br>
- System: Rust, Node <br>
- Tech: Docker,  <br>

Work <br>
- Copy from Cv <br>

Teamplayer, learner, sharer  <br>
Do you want a teamplayer? <br>
Download PDF CV <br>

Contact


			</p>
		</Content>
	</main>
</Layout>

