---
import Content from '../layouts/Content.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Profile">
	<main>
		<Content>
			<h1 class="text-white text-4xl pl-16 w-52 mt-16" transition:name="title-profile">Profile</h1>
		</Content>
	</main>
</Layout>

