---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Navigation.astro';
---

<Layout title="Marius N. Haugen">
	<main>
	<h1 class="align-center text-3xl ">Marius N. Haugen</h1>
		<ul role="list" class="link-card-grid">
		</ul>
	</main>
</Layout>

