---
import Content from '../layouts/Content.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Profile">
	<main>
		<Content>
			<h1 class="text-4xl pl-16 w-52 mt-16" transition:name="title-profile">Profile</h1>
            <div class ="pl-48 mt-48 w-full">
                <p class="text-xl"> I am a programmer. </p>

                <br>
                <div class="text-gray-400">
                <p> In short I'm reasonably good at anything related to a webapp written in modern frameworks.</p> <br>
                <p class="-mt-4"> I can do both pixel perfect CSS, and advanced TypeScript types.</p> <br>
                <p class="-mt-4"> Despite the sad, minimalist style of this website, I'm also pretty funny. (trust me)</p> 
                </div>
                <!-- <h1 class="font-normal text-2xl">Skills</h1> --> 
                    
                <br><br><br>

                <h1 class="font-normal text-2xl">Work Experience</h1><br>
                <h4> SyncDNA - Fullstack Software Developer</h4>
                <p class="ml-4 text-gray-400">Desktop application developer for an Electron based Next.js/React app in the audio engineering space. </p>
                <br>

                <h4>Spotten - Full stack developer </h4>
                <p class="ml-4 text-gray-400">Fullstack developer in early stage startup. Marketplace platform written in React/Next.js with a Node backend.<br> Developed design suggestions, developed backend API and maintained a MySQL database. </p>
                <br><br>
            </div>
		</Content>
	</main>
</Layout>

