---
import Layout from '../layouts/Layout.astro';
import Content from '../layouts/Content.astro';
import Project from '../components/Project.astro';

import { getCollection } from 'astro:content';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.sortOrder.valueOf() - a.data.sortOrder.valueOf(),
);

---

<Layout title="Marius N. Haugen">
	<Content>
		<h1 class="w-36 text-white text-4xl mt-16 mb-12 ml-16 h-12 " transition:name="title-projects" >Projects</h1>
            <div class="grid grid-cols-2 gap-4 items-start w-max mt-48 ">
                    {projects.map(project => (
                 <Project title={project.data.title} description={project.data.description} link=`/projects/${project.data.slug}` /> 
                ))}
			</div>
	</Content>
</Layout>
