---
import Layout from '../layouts/Layout.astro';
import Content from '../layouts/Content.astro';
import Project from '../components/Project.astro';
---

<Layout title="Marius N. Haugen">
	<Content>
		<h1 class="mt-20 mb-20 align-center text-3xl ">PROJECTS</h1>
		<Content>

		<Project title="Portfolio" description='A blog style venture into View Transitions using the Astro framework. Intended to serve as an online showcase of my other explorations.'></Project>
		</Content>


	</Content>
</Layout>
