---
interface Props {
	
}

const {  } = Astro.props;
---
			<ul class="text-white text-4xl flex flex-col justify-center gap-3">
				<li><a href="/projects">Projects</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>