---
import {Icon} from "astro-icon/components"

interface Props {
    title: string,
    description: string,
    link: string
}

const { title, description, link} = Astro.props;
---

<a href={link} >
    <div class="group flex flex-col justify-between border border-dark rounded w-[70%] sm:w-80 h-40 sm:h-52 p-4 hover:border-soft-white ">
        <h2 class="text-2xl ">{title}</h2>
        <p class="font-extralight text-xl leading-7">{description}</p>
        <div class="flex justify-end ">
            <Icon size="40" class="text-dark group-hover:text-soft-white -mt-4" name="material-symbols:arrow-right"></Icon>
        </div>
    </div>
</a>
